{% extends 'base.html' %}
{% block content %}


  
	<div class="container">
		<h1>Principal</h1>
		
		
<h2 align='center'> Listados </h2>

<table align='center' border="1"><tr>
<td><a href="lista_vet">  Veterinario </a> </td>
<td><a href="lista_categoria">  Categoria </a> </td>
<td><a href="lista_explotaciones">  Explotaciones </a></td> 
<td><a href="lista_animales">  Animales </a> </td>
<td><a href="lista_muestras"> Muestras </a></td> 
<td><a href="lista_parametros"> Parametros </a> </td>
<td><a href="lista_establecimiento"> Establecimiento </a> </td>
</tr></table>

<h2 align='center'> Cargas </h2>

<table align="center" border="1"><tr>
<td><a href="vet_form"> Veterinario </a> </td>
<td><a href="categoria_form"> Categoria </a> </td>
<td><a href="explotacion_form"> Explotaciones </a> </td>
<td><a href="animal_form"> Animales </a> </td>
<td><a href="muestra_form"> Muestras </a> </td>
<td><a href="parametro_form"> Parametros </a> </td>
<td><a href="establecimiento_form"> Establecimiento </a> </td>
</tr></table>


	</div>

        	{% endblock %}
